.catalog {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 20px;
}

.subCatalog {
	display: flex;
	flex-direction: column;
}

.subCatalog-items {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
