.formContainer {
    padding: 10px;
    border: 1px solid #1a1a1a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: #1a1a1a 0 0 20px 5px;
}

.loginForm {
    width: 250px;
}