.container {
	height: 150px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	justify-content: center;
	background-color: #3a3a3a;
	border-radius: 10px;
}

.svg {
	width: 30px;
	height: 30px;
	grid-row: 1/2;
	justify-self: center;
	align-self: center;
}

.text {
	font-size: 12px;
	grid-row: 2/3;
	justify-self: center;
	align-self: center;
}
