#root {
	width: 100%;
	height: 100vh;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	text-align: center;
}

.pageContainer {
	display: flex;
	flex-direction: column;
	width: 90%;
}
