.header {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	gap: 20px;
	margin: 10px;
}

.header-nav {
	display: flex;
	justify-content: space-between;
}

.username {
}

.regLog {
}

.header-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	background-image: url("../../assets/logo.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left center;
	height: 50px;
	width: 100px;
}

.header-search {
	display: flex;
	flex-direction: row;
	width: 80%;
}

.header-search-input {
	box-sizing: border-box;
	display: flex;
	width: 90%;
	height: 30px;
}

.header-search-btn {
	width: 30px;
	height: 30px;
	padding: 0;
}
