.form {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 40%;
	max-height: fit-content;
	background-color: #242424;
	border: 1px solid #1a1a1a;
	border-radius: 20px;
	box-shadow: #1a1a1a 0 0 20px 5px;
	gap: 10px;
	padding: 10px;
}

.item {
	text-align: start;
}

.contentArea {
	height: fit-content;
}

.contentArea > textarea {
	resize: none;
	overflow: hidden;
	max-height: 100px;
}

.closeBtn {
	position: absolute;
	display: flex;
	padding: 0;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	top: 10px;
	right: 10px;
}

.closeBtn > img {
	width: 20px;
	height: 20px;
}
