.ReviewsPage {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
}
.formContaner {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.24);
	width: 100%;
	height: 100%;
}

.titleContainer {
}
