.ReviewsPage {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
}

.contentContainer {
	padding: 2rem;
}

.formContaner {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.24);
	width: 100%;
	height: 100%;
}

.titleContainer {
}
