.card {
	display: flex;
	justify-content: space-between;
	border: 1px solid #3d3d3d;
	border-radius: 10px;
	padding: 10px 15px;
	p,
	h3 {
		margin: 0;
	}
}

.images {
}

.reviewData {
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.reviewContent {
}

.reviewTitle {
}

.reviewDesc {
}

.reviewInfo {
	display: flex;
	justify-content: space-between;
}

.reviewCreatedAt {
}

.reviewAuthor {
}
